In [1]:
import pandas as pd
df=pd.read_csv(r"telecom_market_data.csv")

C:\Users\MyPC\AppData\Local\Temp\ipykernel_11284\2508284979.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"telecom_market_data.csv")

In [2]:
df.dtypes

year                   int64
month                 object
circle                object
type_of_connection    object
service_provider      object
value                 object
unit                  object
notes                 object
dtype: object

In [3]:
df.head()

,year,month,circle,type_of_connection,service_provider,value,unit,notes
0,2025,April,Andhra Pradesh,wireless,Bharti Airtel (Including Tata Tele.),33965795,value in absolute number,NaN
1,2025,April,Assam,wireless,Bharti Airtel (Including Tata Tele.),12314102,value in absolute number,NaN
2,2025,April,Bihar,wireless,Bharti Airtel (Including Tata Tele.),40967773,value in absolute number,NaN
3,2025,April,Delhi,wireless,Bharti Airtel (Including Tata Tele.),18877637,value in absolute number,NaN
4,2025,April,Gujarat,wireless,Bharti Airtel (Including Tata Tele.),12401101,value in absolute number,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70728 entries, 0 to 70727
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                70728 non-null  int64
 1   month               70728 non-null  object
 2   circle              70728 non-null  object
 3   type_of_connection  70728 non-null  object
 4   service_provider    70728 non-null  object
 5   value               58396 non-null  object
 6   unit                70728 non-null  object
 7   notes               511 non-null    object
dtypes: int64(1), object(7)
memory usage: 4.3+ MB

In [5]:
c=0
for i in df['month'].unique():
    print(i,type(i))
    c+=1
print('Number of unique months before cleaning:',c)

April <class 'str'>
March <class 'str'>
February <class 'str'>
January <class 'str'>
December <class 'str'>
November <class 'str'>
October <class 'str'>
September <class 'str'>
August <class 'str'>
July <class 'str'>
June <class 'str'>
May <class 'str'>
Number of unique months before cleaning: 12

In [ ]:
for i in df['circle'].unique():
    print(i,type(i))
    c+=1
print('Number of unique circles before cleaning:',c)# have to remove the dupliacates and nan values

Andhra Pradesh <class 'str'>
Assam <class 'str'>
Bihar <class 'str'>
Delhi <class 'str'>
Gujarat <class 'str'>
Haryana <class 'str'>
Himachal Pradesh <class 'str'>
Jammu and Kashmir <class 'str'>
Karnataka <class 'str'>
Kerala <class 'str'>
Kolkata <class 'str'>
Madhya Pradesh <class 'str'>
Maharashtra <class 'str'>
Mumbai <class 'str'>
North East <class 'str'>
Odisha <class 'str'>
Punjab <class 'str'>
Rajasthan <class 'str'>
Tamil Nadu <class 'str'>
Uttar Pradesh (East) <class 'str'>
Uttar Pradesh (West) <class 'str'>
West Bengal <class 'str'>
All India <class 'str'>
All india <class 'str'>
Tamil Nadu (including Chennai) <class 'str'>
Chennai <class 'str'>
Andaman and Nicobar Islands <class 'str'>
Arunachal Pradesh <class 'str'>
Chhattisgarh <class 'str'>
Jharkhand <class 'str'>
Uttarakhand <class 'str'>
North East 1 <class 'str'>
North East 2 <class 'str'>
North East2 <class 'str'>
North East1 <class 'str'>
Chattisgarh <class 'str'>
Andaman and Nicobar <class 'str'>
Uttaranchal <class 'str'>
Number of unique circles before cleaning: 50

In [7]:
c=0
for i in df['service_provider'].unique():
    print(i,type(i))
    c+=1
print('Number of unique service providers before cleaning:',c)

Bharti Airtel (Including Tata Tele.) <class 'str'>
Reliance Communications <class 'str'>
Vodafone Idea <class 'str'>
BSNL <class 'str'>
MTNL <class 'str'>
Reliance Jio <class 'str'>
BSNL (VNOs) <class 'str'>
Bharti Airtel <class 'str'>
Tata Teleservices <class 'str'>
Vodafone <class 'str'>
Idea <class 'str'>
Telenor <class 'str'>
Aircel <class 'str'>
Sistema <class 'str'>
Quadrant <class 'str'>
Videocon <class 'str'>
Telewings <class 'str'>
Loop <class 'str'>
Unitech <class 'str'>
Aircel/Dishnet <class 'str'>
Quadrant (HFCL) <class 'str'>
S-Tel <class 'str'>
Etisalat <class 'str'>
Uninor <class 'str'>
HFCL <class 'str'>
Etisalat/Allianz <class 'str'>
Idea/Spice <class 'str'>
Vodafone Essar <class 'str'>
Loop Telecom Pvt. Ltd. <class 'str'>
HFCL Infotel <class 'str'>
Sistema Shyam Teleservices Ltd <class 'str'>
Spice <class 'str'>
BPL Mobile <class 'str'>
Tata Telecommunication <class 'str'>
STPL <class 'str'>
APSFL <class 'str'>
V-CON Mobile & Infra Pvt. Ltd. <class 'str'>
Bharti Airtel (including Tata Telecommunications) <class 'str'>
Reliance <class 'str'>
Tata <class 'str'>
Teleservice Ltd. <class 'str'>
Systema Shyam Teleservices Ltd. <class 'str'>
Number of unique service providers before cleaning: 42

In [8]:
c=0
for i in df['year'].unique():
    print(i,type(i))
    c+=1
print('Number of unique years before cleaning:',c)

2025 <class 'numpy.int64'>
2024 <class 'numpy.int64'>
2023 <class 'numpy.int64'>
2022 <class 'numpy.int64'>
2021 <class 'numpy.int64'>
2020 <class 'numpy.int64'>
2019 <class 'numpy.int64'>
2018 <class 'numpy.int64'>
2017 <class 'numpy.int64'>
2016 <class 'numpy.int64'>
2015 <class 'numpy.int64'>
2014 <class 'numpy.int64'>
2013 <class 'numpy.int64'>
2012 <class 'numpy.int64'>
2011 <class 'numpy.int64'>
2010 <class 'numpy.int64'>
2009 <class 'numpy.int64'>
Number of unique years before cleaning: 17

In [ ]:
df['value'].describe()# have to clean the data by inserting 0 in place empty values or ' ' values

count     58396
unique    47600
top           0
freq       5351
Name: value, dtype: object

In [10]:
df['year'].describe()

count    70728.000000
mean      2016.026298
std          4.748129
min       2009.000000
25%       2012.000000
50%       2016.000000
75%       2020.000000
max       2025.000000
Name: year, dtype: float64